@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-image: url("assets/IMG_0484.PNG");
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;

}

.home-logo {
    width: 100%;
    height: 50%;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
}

.home-logo img {
    width: 30%;
    height: 100%;
}

.home-buttons {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
}

.home-buttons button:hover,
.home-buttons button:focus {
    transform: scale(0.95);
}

.home-adventure {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    height: 50px;
    width: 250px;
    position: relative;
    display: flex;
    align-items: center;
    background: #FF9D00;
    border: none;
    outline: 0;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    left: 40%;
}

.home-classic {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
    background: #00CE9C;
    border: none;
    outline: 0;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    left: 40%;
}

.home-classic svg {
    margin-left: 15px;
    margin-right: 30px;
    width: 40px;
    height: 40px;
}

.classic-notif {
    z-index: 1;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #E10000;
    top: 0px;
    right: 0px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
    transform: rotateX(180deg);
    border-radius: 5px;
}

#star-badge {
    margin-top: 5px;
    margin-right: 5px;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
}

.home-adventure svg {
    margin-left: 15px;
    margin-right: 30px;
    width: 40px;
    height: 40px;
}

.game-highscore {
    display: flex;
    text-align: center;
    align-items: center;
    color: #FAEB38;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
}

.game-highscore img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.game-settings {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 15px;
}

.game-settings img {
    width: 50px;
    height: 50px;
}

.game-score {
    display: flex;
    text-align: center;
    align-items: center;
}

.game-score text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 60px;
    width: 100%;
    letter-spacing: 1px;
}

#current_blocks {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0px;
    top: 80%;
    border: 1px solid black;
}




@media (pointer:none), (pointer:coarse) {
    #current_blocks {
        width: 90%;
        height: 20%;
        margin: 15px;
        position: absolute;
        top: 70%;
        border: 1px solid black;
    }
}
#setting-popup {
    width: 80%;
    height: 60%;
    background: #5A85EE;
    border-radius: 10px;
    position: absolute;
    top:20%;
    left:10%;
}
.settings-section {
    background: #3145A4;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    position: relative;
    margin:1%;
}