@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body, html {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    user-select: none;
    background-color:#324c83;
    cursor: default;
    overflow: hidden;
}
#game-header {
    width: 100%;
    height: 10%;
}
#game-canvas {
    display: block;
    image-rendering: pixelated;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.game-highscore {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #FAEB38;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
}

.game-highscore img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.game-settings {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 15px;
}

.game-settings img {
    width: 50px;
    height: 50px;
}

.game-score {
    display: flex;
    text-align: center;
    align-items: center;
}

#score {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 60px;
    width: 100%;
    letter-spacing: 1px;
}

#setting-popup {
    width: 80%;
    height: 60%;
    background: #5A85EE;
    border-radius: 10px;
    position: absolute;
    top:20%;
    left:10%;
}
.settings-section {
    background: #3145A4;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    position: relative;
    margin:1%;
}